<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste Des Livres</h4>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput name="search" placeholder="which book are you looking for?" [(ngModel)]="searchtext"
                     >
                    </mat-form-field>
                </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Titre
                                  </th>
                                  <th>
                                      ISBN
                                  </th>
                                  <th>
                                      Auteur
                                  </th>
                                  <th>
                                      Date Edition
                                  </th>
                                  <th>
                                      Categorie
                                  </th>
                                  <th>
                                    Disponibilité
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let l of dataSource.data | search:searchtext">
                                      <td>
                                        {{l.titre}}
                                      </td>
                                      <td>
                                        {{l.isbn}}                    
                                      </td>
                                      <td>
                                        {{l.auteur }} 
                                      </td>
                                      <td>
                                        {{l.dateEdition  }} 
                                      </td>
                                      <td class="text-primary">
                                        {{l.categorie  }} 
                                      </td>
                                      <td class="text-primary">
                                        {{l.disponibilite    }} 
                                      </td>
                                      <td class="text-danger">
                                        <i class="fa fa-trash" aria-hidden="true"                     
                                        (click)="Delete(l.livreId)"
                                        ></i>
                                    </td>
                                    <td class="text-success">
                                        <i class="fa fa-refresh" aria-hidden="true"
                                        (click)="getLivreById(l.livreId)"

                                        [routerLink]="['/maps']"
                                        ></i>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <mat-paginator 
                          [pageSizeOptions]="[5, 10, 15]"
                          aria-label="Select page"
                          >
                          </mat-paginator>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" [routerLink]="['/user-profile']"> <i class="fa fa-plus" aria-hidden="true"></i>
                            Ajouter </button>
                      </div>
                  </div>
                 
              </div>
          </div>
          
      </div>
  </div>
</div>
